.list-group-item {
  /* line-height: 2.5; */
}
body {
  /* background-image: url("/img/background-oldstand-large.jpg"); */
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
  /* font-family: Calibri, "Helvetica Neue", sans-serif; */
}
nav {
   font-size: bold; 
}

.background-img {
  background-image: url("/img/background-globe-blue.jpg");
  background-size: cover;
}
.card {
  margin: 8px;
}
button {
  float: right;
  margin: 5px;
}
a {
  font-size: x-large;
}